@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
<h1>Add a stylist</h1>
<p>Add a stylist here:</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Stylist Name", required="required"})
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty, new { @class = "form-control", placeholder = "Stylist Specialty", required="required"})
  <input type="submit" value="Add Stylist" required="required"/>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Stylists","Index","Stylists")</p>